{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $dateFormat := default "January 2, 2006" site.Params.DateFormat -}}
{{- if eq .Section "news" }}{{ $dateFormat = "January 2, 2006" }}{{ end -}}
{{- $scratch.Add "meta" (slice (printf "<time datetime='%s'>%s</time>" (.Date.Format "2006-01-02") (.Date | time.Format $dateFormat))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "paper_authors.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;&middot;&nbsp;" | safeHTML -}}
{{- end -}}
